img{
  max-height: 200px;
}

.card{
  min-height: 500px;
}


.card.compacted{
  box-sizing: content-box;
  text-align: right;
  max-height: 200px;
  min-height: 200px;
  position: relative;

  img{
    max-height: 200px;
    min-height: 200px;
  }
  app-ui-button{
    position:absolute;
    bottom:0;
    right:0;
  }
}
