<h1>Product Data</h1>

<h2>Number of products {{ productService.products.length }}</h2>

<app-ui-button
  (click)=" productService.load() "
  *ngIf=" productService.products.length === 0 ">
  Click to load products
</app-ui-button>

<app-ui-button
  (click)=" cardFormat = (cardFormat === 'standard') ? 'compacted' : 'standard'  "
  >
  Swicth Format : <strong>{{ (cardFormat === 'standard') ? 'compacted' : 'standard' }}</strong>
</app-ui-button>

<div class="alert alert-info" *ngIf="selectedProduct">
  Your selection :  <strong>{{selectedProduct.title}}</strong>
</div>

<div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-2">
  <div class="col" *ngFor="let item of productService.products">

    <app-ui-product-card
      [format]=" cardFormat  "
      [product]="item"
      (select)="changeProductSelection( $event )">
    </app-ui-product-card>

  </div>
</div>




<!--
<h1>Product Data</h1>

<h2>Number of products {{ productService.products.length }}</h2>

<app-ui-button
  (click)=" productService.load() "
  *ngIf=" productService.products.length === 0 ">
  Click to load products
</app-ui-button>

<app-ui-button
  (click)=" cardFormat = (cardFormat === 'standard') ? 'compacted' : 'standard'  "
  >
  Swicth Format : <strong>{{ (cardFormat === 'standard') ? 'compacted' : 'standard' }}</strong>
</app-ui-button>

<div class="alert alert-info" *ngIf="selectedProduct">
  Your selection :  <strong>{{selectedProduct.title}}</strong>
</div>

<div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-2">
  <div class="col" *ngFor="let item of productService.products">

    <app-ui-product-card
      [format]=" cardFormat  "
      [product]="item"
      (select)="changeProductSelection( $event )">
    </app-ui-product-card>

  </div>
</div>
-->

<!-- Event Binding -->
<!--
<button class="btn btn-primary m-2"
        (click)=" productService.load() "
        *ngIf=" productService.products.length === 0 ">
        Click to load products
</button>
 -->

<!-- <div class="row row-cols-4 g-2">

  <div class="col" *ngFor="let item of productService.products">

      <div class="card" >
      <img [src]=" item.thumbnail " class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.description }}</p>
        <p class="card-text">{{ item.price }}</p>
      </div>
    </div>
  </div>

</div> -->

<!-- Directive NgFor -->
<!-- <div *ngFor="let item of productService.products"> -->
  <!-- Attribute Binding -->
<!--   <img [src]=" item.thumbnail " alt="">
  <div>
    <h3>{{ item.title }}</h3>
    <span>{{ item.price }}</span>
  </div>
</div> -->

<!--
  <code>
  {{ productService.products | json }}
</code>
 -->
