<app-layout-sidebar>
  <ng-container [ngTemplateOutlet]="messageEditor" appLayoutContent></ng-container>
  <hr appLayoutContent>
  <ng-container [ngTemplateOutlet]="messageList" appLayoutContent></ng-container>
</app-layout-sidebar>

<ng-template #messageEditor>


  <div class="container">

    <h1>Message Creation</h1>

    <code>{{ messageForm.value | json }}</code>

    <form class="d-flex flex-column m-3" [formGroup]="messageForm">

      <input class="form-control" placeholder="Message Title" formControlName="title" name="title" class="m-2">

      <textarea class="form-control" placeholder="Message Text..." formControlName="text" name="text" class="m-2"></textarea>

      <ng-container *ngIf=" messageForm.controls.title.errors as errors ">
        <div class="alert alert-danger m-2" *ngIf=" errors['excludedWords'] ">
          {{ errors['excludedWords'] }}
        </div>
      </ng-container>

      <button class="btn btn-lg btn-primary m-2" (click)="requestMessageCreation()">
        Send
      </button>
      [disabled]="messageForm.invalid"
    </form>
  </div>

</ng-template>

<ng-template #messageList>



  <div class="container">
    <h1>Message List</h1>
    <ngb-alert type="secondary" class="m-1">Text 1</ngb-alert>
    <ngb-alert type="secondary" class="m-1">Text 2</ngb-alert>
    <ngb-alert type="secondary" class="m-1">Text 3</ngb-alert>
  </div>

</ng-template>
