<app-layout-sidebar>
  <ng-container [ngTemplateOutlet]="messageEditor" appLayoutContent></ng-container>
  <hr appLayoutContent>
  <ng-container [ngTemplateOutlet]="messageList" appLayoutContent></ng-container>
</app-layout-sidebar>

<ng-template #messageEditor>


  <div class="container">

    <h1>Message Creation</h1>

    <code>{{ messageForm.value | json }}</code>

    <form class="d-flex flex-column m-3" [formGroup]="messageForm">

      <input class="form-control" placeholder="Message Title" formControlName="title" name="title" class="m-2">

      <textarea class="form-control" placeholder="Message Text..." formControlName="text" name="text"
        class="m-2"></textarea>

      <ng-container *ngIf=" messageForm.controls.title.errors as errors ">
        <div class="alert alert-danger m-2" *ngIf=" errors['excludedWords'] ">
          {{ errors['excludedWords'] }}
        </div>
      </ng-container>

      <button [disabled]="messageForm.invalid" class="btn btn-lg btn-primary m-2" (click)="requestMessageCreation()">
        Send
      </button>

    </form>
  </div>

</ng-template>

<ng-template #messageList>



  <div class="container" *ngIf="(messageService.messages$ | async) as messages">
    <h1>Message List {{messages.length}}</h1>

    <ngb-alert type="secondary" class="m-1" *ngFor="let msg of messages">
      <strong>{{ msg.title }}</strong>
      <p>{{ msg.text }}</p>
      <em>{{ msg.time | date:'short' }}</em>
    </ngb-alert>

  </div>

</ng-template>
