<app-layout-sidebar>
  <ng-container [ngTemplateOutlet]="messageEditor" appLayoutContent></ng-container>
  <hr appLayoutContent>
  <ng-container [ngTemplateOutlet]="messageList" appLayoutContent></ng-container>
</app-layout-sidebar>

<ng-template #messageEditor>


  <div class="container">
    <h1>Message Creation</h1>
    <form class="d-flex flex-column m-3">

      <input class="form-control" placeholder="Message Title"  name="title" class="m-2">

      <textarea class="form-control" placeholder="Message Text..."  name="text" class="m-2"></textarea>

     <button class="btn btn-lg btn-primary m-2">Send</button>

    </form>
  </div>

</ng-template>

<ng-template #messageList>



  <div class="container">
    <h1>Message List</h1>
    <ngb-alert type="secondary" class="m-1">Text 1</ngb-alert>
    <ngb-alert type="secondary" class="m-1">Text 2</ngb-alert>
    <ngb-alert type="secondary" class="m-1">Text 3</ngb-alert>
  </div>

</ng-template>
